@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0;
  }

  html,
  body {
    @apply w-full h-full;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}
/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Puedes cambiar el color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Esto oculta las flechitas */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.h-custom {
  height: calc(100vh - 60);
}

/* * {
  outline: 1px solid red !important;
} */